
html {
    height: 100%;
    margin: 0px;
}

body {
    height: 100%;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    object-fit: cover;
    width: 75%;
    height: 75%;
}


/* FLEX STUFF */

.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    flex-direction: row;
    padding: 20px;
    gap: 30px;
}

.hbar {
    display: flex;
    width: 90vw;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 200);
    flex-direction: row;
    background-color: grey;
    color: white;
    font-weight: bold;
}

.hbar div {
    margin: auto;
}

.hbar a {
    color: white;
    text-decoration: none;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(100, 25, 51);
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px;
}

.flex-container2 div {
    width: 100%;
    height: 100%
}

.flex-container2 img {
    border-radius: 20px;
}

.flex-container3 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: column;
    align-items: center;
    width: auto;
}

.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

/* INDIVIDUAL STUFF */

#top {
    height: 50px;
}

#spacer p {
    font-size: 20px;
}

#links {
    text-align: right;
}

#links a {
    padding: 20px;
}

#nate {
    border: 5px solid darkblue;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;
    width: 600px;
    height: 400px;
}

#natepic {
    width: 100%;
    height: 100%;
}

#intro {
    width: 50%;
    padding: 30px;
    background-image: linear-gradient(red, yellow);
    border-radius: 50px;
}

#skills_outer {
    background-image: linear-gradient(chartreuse, turquoise);
    border-radius: 50px;
    padding: 30px;
    flex-grow: 4;
}

#skills {
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 0;
    justify-content: left;
}

#skills div {
    box-shadow: 4px 5px 10px;
    width: 20%;
    padding: 19px;
    background-color: cyan;
    color:rgb(0, 0, 0);
    border-radius: 20px;
}

#projects_out {
    padding: 5px;
}

#projects div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects p {
    font-style: italic;
    padding: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}

footer {
    height: 150px;
}

footer div {
    width: 100%;
    height: 100%;
}

#bleft div { /* TO BE DELETED */
    border-style: solid;
    border-width: 2px;
    border-color: red;
}

#bleft {
    /*justify-content: left;*/
    height: 100px;
    line-height: 8px;
    font-size: 10px;
    text-wrap: initial;
}

#bleftimg {
    width: 135px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}


#bleft img {
    display: inline-block;
    object-fit: contain;
    margin: auto;
    width: 100%;
    height: 100%;
}

#extra {
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

#extra img {
    border-radius: 10px;
}

